@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  background: var(--main-color);
  font-family: 'Poppins', sans-serif;
}
.header-landing {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 4rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.header-landing h4 {
  padding-top: 20px;
  color: var(--category-name-text);
}
.title-product{
  margin: 3rem 1rem;
}
.title-product h1 {
  font-size: 40px;
  color: var(--accent-color);
  margin-top: 20px;
}
.paragraph {
  padding-top: 20px;
}
/* .img-product div {
  width: 600px;
  height: 600px;
} */
.img-product {
  height: 500px;
  width: 450px;
  border-radius: 30%;
  margin: 10px;
}
.title-product {
  padding: 15px;
}
.buttons-div {
  padding-top: 80px;
  display: flex;
  justify-content: center;
  justify-items: center;
}

/* CSS */
.button-one {
  background-color: var(--accent-color);
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: var(--main-color);
  cursor: pointer;
  display: inline-block;
  font-family: 'Farfetch Basis', 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 0px 20px 8px;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  margin-right: 50px;
}
.button-one span,
.button-two span {
  font-size: 30px;
  padding: 0px;
}
/* .button-one:hover {
  background-color: var(--main-color);
  color: var(--accent-color);
} */
.button-two {
  background-color: var(--main-color);
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: var(--accent-color);
  cursor: pointer;
  display: inline-block;
  font-family: 'Farfetch Basis', 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 0px 20px 8px;
  position: relative;
  text-align: center;
  touch-action: manipulation;
}


@media only screen and (max-width: 700px) {
  .header-landing{
    margin: 1rem;
  }

}
